* {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    font-weight: 700;
    margin: 2px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 ;
    
}

.screen {
    border: 2px solid black;
    font-size: 50.5px;
    background-color: rgb(123, 123, 123);
    color: orange;
    display: flex;
    height: 100px;
    width: 400px;
    justify-content: flex-end;
    align-items: center;
}

.screen-con {
    display: flex;
}

.operators-con {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    background-color: rgb(123, 123, 123);
    color: orange;
    padding: 35px;
}

[class="zero button"] {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

[class="equals button"] {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    display: flex;
    align-items: center;
}

[class="clear button"] {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

[class="multiply button"] {
    grid-column-start: 4;
    grid-row-start: 3;
}

[class="divide button"] {
    grid-column-start: 4;
    grid-row-start: 2;
}



