* {
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 700;
    margin: 2px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0;
}

.screen {
    border: 2px solid black;
    font-size: 50.5px;
    background-color: rgb(123, 123, 123);
    color: orange;
    display: flex;
    height: 100px;
    width: 400px;
    overflow: hidden;
    justify-content: flex-end;
    align-items: center;
}

.operators-con {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.button {
    background-color: rgb(123, 123, 123);
    color: orange;
    padding: 35px;
}
button:hover {
    background-color: rgb(162, 162, 162);
}

button:active {
    transform: translateY(2px);
    transition: 50ms;
}

.subtract,
.divide,
.add,
.multiply,
.clear,
.equals {
    color: black;
}

[class="zero button"] {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
}

[class="equals button"] {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    display: flex;
    align-items: center;
}

[class="clear button"] {
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

[class="multiply button"] {
    grid-column-start: 4;
    grid-row-start: 3;
}

[class="divide button"] {
    grid-column-start: 4;
    grid-row-start: 2;
}

@media only screen and (max-width: 420px) {
    .button {
        padding: 25px;
    }
    .screen {
        width: 321px;
    }
}
